body {
    background-color: rgb(109, 165, 211);
    text-align: center;
    padding-top: 20px;
}

.html {
    background-color: rgb(221, 221, 221);
}

li {
    text-align: center;
    list-style-type: square;
    list-style-position: inside;
}
